* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: 'roboto-regular', sans-serif;
  background-color: #ebe8e8;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

a:hover {
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}