.services {
  padding-bottom: 34px;
}

.services__top {
  margin-bottom: 34px;
}

.services__top-title {
  margin-bottom: 9px;
  max-width: 56%;
  font-family: "fn-bold", sans-serif;
  font-size: 24px;
  color: $section_color;
}

.services__title {
  margin-bottom: 11px;
  font-family: "fn-bold", sans-serif;
  font-size: 24px;
  color: $section_color;
}

.services__tab-box {
  width: 32%;
}
.services__tab-left,
.services__tab-right {
  padding: 0;
}

.services__tabs {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  justify-content: space-between;
}

.services__tabs-line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #c4c4c4;
}

.services-section {
  display: none;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  opacity: 0;
}

.services__tabs-move {
  position: absolute;
  transition-property: left;
  transition-duration: 0.7s;
  transition-timing-function: linear;
  left: 0;
  width: 145px;
  height: 100%;
  background-color: $btn_color;
}

.services__tab {
  border: none;
  color: #666666;
  background-color: transparent;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  &:hover {
    color: $btn_color;
  }
  &:active {
    background-color: $active_bgcolor;
  }
}

.tab-active {
  color: $btn_color;
}

.services__discript-link {
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  display: inline-block;
  background-position: right;
  width: 105px;
  font-family: "roboto-bold", sans-serif;
  &:link {
    color: $btn_color;
    background-image: url("../img/arrow_1.png");
  }
  &:hover {
    width: 115px;
    background-image: url("../img/arrow1_hover.png");
  }
  &:active {
    background-color: $active_bgcolor;
  }
  &:visited {
    color: $visited_link;
    background-image: url("../img/arrow_1_1.png");
  }
}

.services__discript-title {
  margin-bottom: 5px;
  font-family: "fn-regular", sans-serif;
  font-size: 22px;
  color: $section_color;
  &:hover {
    color: $btn_color;
  }
  &:active {
    color: $section_color;
    background-color: $active_bgcolor;
  }
  &:visited {
    color: $visited_link;
  }
}
.services__discript-title-tab2 {
  font-size: 24px;
  line-height: 24px;
}

.services__right-img {
  margin-top: -105px;
}

.services__discription {
  margin-bottom: 15px;
  font-size: 16px;
  color: #999999;
}

.services__section-tab1-left {
  .services__discript-tab1-item {
    display: flex;
  }
  .services__discript-img-tab1 {
    width: 55%;
  }
  .discript-text {
    padding-left: 31px;
    width: 100%;
  }
}

.services__section-tab2-item {
  display: flex;
  justify-content: space-between;
  .services__discript-img {
    width: 49%;
  }
  .discript-text {
    width: 48%;
  }
}

.discript-text {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 5px;
  justify-content: left;
}

.services__right-img-top {
  margin-bottom: 32px;
  padding-left: 31px;
  padding-top: 21px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 496px;
  background-image: url("../img/fig-services_6.webp");
  background-size: cover;
  background-position: 0 10px;
}

.services__stock {
  margin-bottom: 209px;
  width: 130px;
  font-size: 32px;
  color: #fff500;
  div:nth-child(1) {
    font-family: "fn-bold", sans-serif;
  }
  div:nth-child(2) {
    margin-top: -5px;
    font-size: 16px;
  }
}

.services__stock-img {
  display: block;
  width: 116px;
  margin-bottom: 9px;
}

.services__condition {

  width: 220px;
  font-size: 16px;
  color: $label_text_color;
}

.services__condition-text {
  margin-bottom: 9px;
}

.services__condition .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 50px;
  color: $label_text_color;
}

// ---------------------------------

@media (max-width: 1350px) {

    .services__discription {
      min-height: 80px;
      margin-bottom: 0;
      line-height: 20px;
    }
  
    .services__discript-title {
      margin-bottom: 3px;
      font-size: 20px;
      line-height: 20px;
    }
  
    .services__section-tab2 {
      grid-column-gap: 5px;
    }
  
    .services__section-tab2-item {
      .services__discript-img {
        width: 45%;
      }
      .discript-text {
        width: 52%;
      }
    }
  
    .discript-text {
      padding-top: 0;
      padding-left: 0;
    }
  
    .services__tab-box {
      width: 40%;
    }
  
    .services__right-list-imgs {
      gap: 20px;
    }

  }

  // --------------------------------

  @media (max-width: 1024px) {
      
    .services {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 35px;
    }
  
    .services__tab-box {
      width: 43%;
    }
  
    .services__top {
      margin-bottom: 30px;
    }
  
    .services__top-title {
      margin-bottom: 6px;
    }
  
    .services__section-tab1 {
      grid-template-columns: 1fr minmax(250px, 344px);
      .services__discript-img-tab1 {
        width: 60%;
      }
    }
  
    .services__section-tab1-left {
      gap: 15px;
    }
  
    .services__section-tab2 {
      grid-template-columns: 1fr minmax(300px, 344px);
      grid-column-gap: 30px;
    }
  
    .services__section-tab2-left {
      grid-template-columns: 1fr 1fr;
      gap: 10px 20px;
  
      .discript-text {
        padding-top: 5px;
      }
    }
  
    .services__section-tab2-item {
      flex-direction: column;
      .services__discript-img {
        width: 100%;
      }
      .discript-text {
        width: auto;
      }
    }
  
    .services__right-img {
      margin-top: -102px;
    }
  
    .services__right-img-top {
      margin-bottom: 31px;
    }
  
    .discript-text {
      padding-top: 29px;
    }
  
    .services__discript-title {
      margin-bottom: 7px;
      font-size: 24px;
    }
  
    .services__right-list-imgs {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px 31px;
    }
  
  }

  // --------------------------------
  @media (max-width: 860px) {
      
    .services__section-tab1 {
      grid-column-gap: 5px;
    }
  
    .services__section-tab1-left {
      grid-column-gap: 5px;
    }
  
    .services__discript-title {
      font-size: 20px;
    }
  
    .services__section-tab1 {
      .discript-text {
        padding-left: 10px;
      }
    }
  
    .discript-text {
      padding-top: 0;
    }
  
  }
  // --------------------------------
  @media (max-width: 768px) {
  
    .services {
      padding-left: 27px;
      padding-right: 27px;
      padding-bottom: 35px;
    }
  
    .services__top {
      margin-bottom: 32px;
    }
  
    .services__section-tab1 {
      grid-template-columns: 1fr;
      grid-row-gap: 12px;
  
      .services__section-tab1-left {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 22px;
      }
  
      .services__discript-tab1-item {
        display: flex;
        flex-direction: column;
      }
  
      .services__discript-img-tab1 {
        width: 100%;
        height: 185px;
        img {
          height: 100%;
        }
      }
  
      .discript-text {
        padding-left: 0;
      }
    }
  
    .services-section {
      .discript-text {
       padding-top: 13px;
      }
    }
  
    .services__section-tab2 {
      grid-template-columns: 1fr;
    }
  
  
    .services__discript-title {
      font-size: 24px;
    }
  
    .services__discription {
      min-height: 73px;
    }
  
    .services__right-img {
      margin-top: 0;
    }
  
    .services__right-img-top {
      position: relative;
      min-height: auto;
      margin-bottom: 16px;
      padding-bottom: 32px;
      background-image: url("../img/fig-services_6-768.jpg");
      background-size: cover;
    }
   
    .services__stock {
      margin-bottom: 122px;
    }
  
    .services__stock-img {
      position: absolute;
      right: 31px;
      top: 28px;
    }
  
    .services__tab-box {
      width: 48%;
    }
    .services__right-list-imgs {
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 25px;
    }
  
  }
  // ------------------------------
  @media (max-width: 640px) {
      
    .services__section-tab1 {
      .services__section-tab1-left {
        grid-template-columns: 47% 47%;
        grid-column-gap: 10px;
      }
    }
  
    .services__section-tab1 {
      .services__discript-img-tab1 {
        height: auto;
      }
    }
  
    .services__discript-title {
      font-size: 20px;
      min-height: 40px;
    }
  
    .services__right-list-imgs {
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  
    .services__tab-box {
      width: 100%;
    }
    
  }
  // ------------------------------
  // @media (max-width: 480px) {
 
    // .services__section-tab1,
    // .services__section-tab2 {
    //   .services__section-tab1-left,
    //   .services__section-tab2-left {
    //     grid-template-columns: 1fr;
    //   }
    // }
  
    // .services__stock-title {
    //   font-size: 30px;
    // }
  
  
  
    // .services__stock-img {
    //   width: 85px;
    //   height: 43px;
    // }
  
    // .services__tab-left,
    // .services__tab-right {
    //   font-size: 14px;
    // }
  
    // .services__right-list-imgs {
    //   grid-template-columns: repeat(3, 1fr);
    // }
  
    // .services__discript-title {
    //   min-height: 25px;
    // }
  
  // }
  // ------------------------------------
  @media (max-width: 576px) {
 
    .services {
      padding-top: 33px;
      padding-left: 21px;
      padding-right: 21px;
      padding-bottom: 45px;
    }
  
    .services__top {
      margin-bottom: 22px;
      width: 100%;
    }
  
    .services__top-title {
      font-size: 18px;
      margin-bottom: 5px;
    }
  
    .services__discript-title {
      display: block;
      margin-bottom: 4px;
      min-height: auto;
      height: auto;
      font-size: 16px;
      line-height: 16px;
    }
  
    .services__discription {
      margin-bottom: 8px;
      min-height: auto;
      max-width: 278px;
      font-size: 14px;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        white-space: nowrap;
      }
    }
  
    .services-section {
      .discript-text{
        padding-top: 11px;
      }
      h3 {
        margin-bottom: 7px;
      }
    }
  
    .services__discript-link:link {
      width: 95px;
      font-size: 14px;
      background-size: 17%;
    }

    .services__section-tab1,
    .services__section-tab2 {
      .services__section-tab1-left,
      .services__section-tab2-left {
        grid-template-columns: 1fr;
      }
    }
  
    .services__section-tab1 {
      grid-row-gap: 13px;

      .services__section-tab1-left {
        grid-row-gap: 24px;
      }
    }
  
    .services__stock-img {
      top: 36px;
      width: 85px;
      height: 43px;
    }

    .services__stock-title {
      font-size: 30px;
    }

    .services__stock div:nth-child(2) {
      font-size: 14px;
    }
  
    .services__right-img-top {
      margin-bottom: 23px;
      padding-bottom: 29px;
      background-image: url("../img/fig-services_6.webp");
    }
  
    .services__stock {
      margin-bottom: 230px;
    }
  
    .services__condition {
      line-height: 18px;

      .btn {
        margin-top: 17px;
        max-width: 144px;
        min-height: 40px;
        height: auto;
      }
    }
  
    .services__title {
      margin-bottom: 15px;
      font-size: 18px;
    }
    .services__right-list-imgs {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 26px;
    }

    .services__tab-left,
    .services__tab-right {
      font-size: 14px;
    }

  }

  @media(max-width: 380px) {
    .services__right-list-imgs {
      grid-template-columns: repeat(2, 1fr);
    }

  }