$btn_color: #FF6E30;
$label_text_color: #FFFFFF;
$content_text_color: #CACACA;
$label_back_color: #333333;
$section_color: #202020;
$visited_link: #CE4307;
$active_bgcolor: #FFD4C1;
$calendar_text:  #999999;
$footer_bottom_block: #4A4A4A;


